body {
  font-family: Roboto Mono, monospace;
  height: 100vh;
  margin: 0;
  background-image: url(https://images.unsplash.com/photo-1504544750208-dc0358e63f7f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1575&q=80);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-title {
  color: white;
  font-size: 20px;
  text-shadow: 0px 0px 8px black;
}

.page-sub-title {
  color: white;
  font-size: 15px;
  text-shadow: 0px 0px 8px black;
}

p {
  margin: 0;
}

.form-title {
  margin: 0px;
}
.logo {
  width: 200px;
}

.dishes{
  padding: 0;
  list-style: none;
}

.full-form {
  width: 300px;
  background-color: #F5F0E7;
  box-shadow: 0px 0px 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  outline: 2px solid;
  outline-offset: -10px;
  text-align: center;
}

.submit-area {
  margin: 20px;
}

.submit-area > input{
  height: 20px;
}

.item {
  width: 100%;
  padding: 10px 0px;
  border-bottom: 1px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
